<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        {% if cookiecutter.lock_zoom.lower() == "y" -%}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
        {%- else -%}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%- endif %}

        <title>{{cookiecutter.name}}</title>
        <meta name="description" content="{{cookiecutter.description}}">

        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

        <link rel="icon" type="image/png" href="img/icon-32x32.png">
        <link rel="shortcut icon" type="image/png" href="img/icon-32x32.png">

        <link rel="manifest" href="./manifest.webmanifest">

        <meta name="theme-color" content="{{cookiecutter.theme_color}}">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="{{cookiecutter.name}}">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="{{cookiecutter.name}}">

        <link rel="apple-touch-icon" href="img/icon-512x512.png">
        <link rel="apple-touch-icon" sizes="512x512" href="img/icon-512x512.png">

        <meta name="msapplication-TileImage" content="img/icon-512x512.png">
        <meta name="msapplication-TileColor" content="{{cookiecutter.theme_color}}">
        <meta name="msapplication-tap-highlight" content="no">
    </head>
    <body>
        {% if cookiecutter.web_components.lower() == "y" -%}
        <my-component name="Hello World"/>
        {%- else -%}
        <div id="root"></div>
        {%- endif %}

        {% if cookiecutter.eruda_debugger.lower() == "y" -%}
        <script src="./eruda.js"></script>
        {%- endif %}

        <script src="./main.{% if cookiecutter.language == "typescript" %}ts{% else %}js{% endif %}"></script>

        <!-- This fixes the path generating an hashed name that break the PWA support -->
        <a href="./manifest.webmanifest" hidden></a>

        <script>
            if ('serviceWorker' in navigator) {
                var x = 'sw.js'
                navigator.serviceWorker.register(x)
                    .then(function(registration) {
                        console.log('Registration successful, scope is:', registration.scope)
                    })
                    .catch(function(error) {
                        console.log('Service worker registration failed, error:', error)
                    })
            }
        </script>
    </body>
</html>
